<!doctype html>
<html>
<head>
 
</head>
<body>
  <h1>
    Fill the form given below
  </h1>
  <div class="container">
    <form action="{{url_for('predict')}}"method="post">
      <input type="text" name="age" placeholder="Age" required>
      <input type="text" name="sex" placeholder="Income" required>
      <input type="text" name="children" placeholder="income_stability" required>
      <input type="text" name="smoker" placeholder="profession" required>
      <button type="submit" class="btn">Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}
  </div>
</body>
</html>
